# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarised

**Objectives**
- list popular languages for Data Science
- list popular open source data science tools
- learn about markdown cells
- learn about code cells
- learn how to complete simple arithmetic functions

Some of the popular languages that Data Scientists use are: 
1. python
1. R
1. SQL
1. Java
1. Julia
1. MATLAB
1. Javascript
1. C++
1. NumPy
1. Pandas

|Data Science Tools|
---------
|Jupyter Notebook|
|R Studio|
|MatLab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
'This is a simple arithmetic expression to multiply then add integers'
(3*4)+5

17

In [2]:
'This will convert 200 minutes to hours by dividing by 60'
(200/60)

3.3333333333333335

## Author
Opama Khan